<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header style="width: 100%; overflow: hidden; margin-bottom: 15px">
      <div style="float: left">
        <a href="/">
          <img src="/images/logo.jpg" alt="Insta485" width="300" height="85" />
        </a>
      </div>
      <div style="float: right">
        <a href="/explore/" style="margin-right: 6px; text-decoration: none"
          >Explore</a
        >|
        <a href="/users/{{ logname }}/" style="text-decoration: none"
          >{{ logname }}</a
        >
      </div>
    </header>
    <hr />

    <div class="profile-container">
      <h1>Following</h1>
    </div>
    {% for follow in following %}
    <div class="post">
      <header>
        <a href="/users/{{ follow.username}}/" class="link">
          <img
            class="profile-img"
            src="{{ follow.user_img_url}}"
            alt="{{ follow.username}}'s profile"
          />
          <span><strong>{{ follow.username}}</strong></span>
        </a>
        {% if follow.username == logname %}
        <!--Blank-->
        {% elif follow.logname_follows_username %} following {% else %} not
        following {% endif %}
      </header>
    </div>
    {% endfor %}
  </body>
</html>
