<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header style="width: 100%; overflow: hidden; margin-bottom: 15px">
      <div style="float: left">
        <a href="/">
          <img src="/images/logo.jpg" alt="Insta485" width="300" height="85" />
        </a>
      </div>
      <div style="float: right">
        <a href="/explore/" style="margin-right: 6px; text-decoration: none"
          >Explore</a
        >|
        <a href="/users/{{ logname }}/" style="text-decoration: none"
          >{{ logname }}</a
        >
      </div>
    </header>
    <hr />

    <div class="post">
      <header>
        <a href="/users/{{ owner}}/" class="link">
          <img
            class="profile-img"
            src="{{ owner_img_url}}"
            alt="{{ owner}}'s profile"
          />
          <span><strong>{{ owner}}</strong></span>
        </a>
        <a href="/posts/{{ postid }}/" class="link"
          ><time datetime="2024-01-01T12:00" style="float: right"
            >{{ timestamp }}</time
          >
        </a>
      </header>
      <img
        class="post-img"
        src="{{ img_url}}"
        alt="Post Description"
        width="500"
        height="500"
      />
      <footer>
        <p>
          <strong>{{ likes }} like{{ 's' if likes != 1 else ''}}</strong>
        </p>
        <section>
          {% for comment in comments %}
          <a href="/users/{{ comment.owner}}/"
            ><strong>{{ comment.owner}}</strong></a
          >
          {{ comment.text }} <br />
          {% endfor %}
        </section>
      </footer>
    </div>
    <hr />
  </body>
</html>
