<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header style="width: 100%; overflow: hidden; margin-bottom: 15px">
      <div style="float: left">
        <a href="/">
          <img src="/images/logo.jpg" alt="Insta485" width="300" height="85" />
        </a>
      </div>
      <div style="float: right">
        <a href="/explore/" style="margin-right: 6px">Explore</a>|
        <a href="/users/{{ logname }}/">{{ logname }}</a>
      </div>
    </header>
    <hr />

    <div class="profile-container">
      <!-- User profile content listed here-->
      <h1>{{ username }}</h1>
      <!-- Relationship listed here-->
      <p>
        {% if username == logname %}
        <!--Blank-->
        {% elif logname_follows_username %} following {% else %} not following
        {% endif %}
      </p>
      <p>{{ total_posts}} post{{'s' if total_posts != 1 else ''}}</p>
      <p>
        <a href="/users/{{username}}/followers/"
          ><strong
            >{{ followers}} {{'followers' if followers != 1 else
            'follower'}}</strong
          ></a
        >
        <a href="/users/{{username}}/following/"
          ><strong>{{ following}} following</strong></a
        >
      </p>
      <p>{{ fullname }}</p>

      <!-- Posts listed here-->
      <div style="display: flex">
        {% for post in posts %}
        <div style="margin-right: 10px">
          <a href="/posts/{{ post.postid }}/"
            ><img
              src="{{ post.img_url }}"
              alt="Description for first post"
              style="width: 300px; height: 300px"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
